@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background: url('../static/wallpaper1.webp') no-repeat center center fixed;
    /*background: url('../static/prex2024.jpg') repeat center center fixed;*/
    background-size: cover;
    font-family: 'Anton', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1px;
    height: 100%;
}

.panel.left {
    align-items: flex-end;
    background: none;
    /* Fondo eliminado */
}

.panel.right {
    align-items: flex-start;
    background: none;
    /* Fondo eliminado */
}

.voicebox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    background: none;
    /* Fondo eliminado */
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.controls label {
    color: #fff;
    margin-bottom: 10px;
}

.controls input[type="range"] {
    margin-top: 0px;
}

#voicebox {
    display: flex;
    justify-content: space-around;
    width: 170px;
    background: none;
    /* Fondo eliminado */
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.column {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 300px;
}

.led {
    width: 30px;
    height: 15px;
    background-color: #030000;
    margin: 2px 0;
    border-radius: 3px;
    opacity: 0.3;
    transition: opacity 0.5s ease-out, background-color 0.5s ease-out;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
}

.led.active {
    background-color: #bf1115;
    opacity: 1;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

.button {
    border: 0;
    display: block;
    line-height: 1;
    font-family: 'Anton', sans-serif;
    border-radius: 8px;
    width: 100px;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    height: 60px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    /* Añadido background-color */
    box-shadow: 0 4px #999;
    /* Sombra inferior para el efecto 3D */
    opacity: 0.5;
    /* Apagado y semitransparente por defecto */
}

.button:active {
    box-shadow: 0 2px #666;
    /* Sombra inferior reducida cuando se hace clic */
    transform: translateY(2px);
    /* Movimiento hacia abajo cuando se hace clic */
}

.button.yellow {
    background-color: #cbc838;
    box-shadow: 0 4px #b3a42c;
    /* Sombra inferior ajustada para el efecto 3D */
}

.button.yellow.active {
    background-color: #e0d95a;
    /* Color más claro para el estado activo */
    opacity: 1;
}

.button.red {
    background-color: #bf1115;
    box-shadow: 0 4px #991010;
    /* Sombra inferior ajustada para el efecto 3D */
}

.button.red.active {
    background-color: #d41a1f;
    /* Color más claro para el estado activo */
    opacity: 1;
}

.button.green {
    background-color: #65ea28;
    box-shadow: 0 4px #50c320;
    /* Sombra inferior ajustada para el efecto 3D */
}

.button.green.active {
    background-color: #7cff4d;
    /* Color más claro para el estado activo */
    opacity: 1;
}

.button:hover {
    opacity: 0.7;
    /* Más claro al pasar el ratón */
}

.panel.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.panel.center .button {
    width: 120px;
    margin: 5px 0;
}

.panel.center .button+.button {
    margin-top: 0px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .button {
        width: 90px;
        height: 40px;
        font-size: 18px;
    }

    .voicebox-container {
        margin: 0 20px;
    }

    #voicebox {
        width: 140px;
        padding: 15px;
    }

    .led {
        width: 20px;
        height: 10px;
    }

    .panel.center .button {
        width: 180px;
    }
}

@media (max-width: 480px) {
    .button {
        width: 70px;
        height: 40px;
        font-size: 10px;
    }

    .voicebox-container {
        margin: 0 10px;
    }

    #voicebox {
        width: 140px;
        padding: 15px;
    }

    .led {
        width: 30px;
        height: 15px;
    }

    .panel.center .button {
        width: 150px;
    }
}